In [1]:
from tabula.io import read_pdf
import pandas as pd
import tabula
from tabulate import tabulate

In [51]:
df = tabula.io.read_pdf('2006666920_RESULTS 2545-091 2518-182 2471-364 DATED 02-10-23.pdf', pages = 'all', encoding ='utf-8')
df = df[0].fillna("")

In [52]:
df

,Unnamed: 0,91 DAYS,182 DAYS,364 DAYS,TOTAL
0,Due Date,01/01/2024,01/04/2024,30/09/2024,
1,Amount Offered (Kshs. M),"4,000.00","10,000.00","10,000.00","24,000.00"
2,Bids Received (Kshs. M),"1 1,007.63",8 09.28,"1,841.12","13,658.03"
3,Performance Rate (%),2 75.19,8 .09,18.41,56.91
4,Total Amount Accepted (Kshs. M),"3 ,303.25",5 42.27,670.62,"4,516.14"
5,Of which: Competitive bids,"1 ,143.79",6 9.98,1 89.07,"1,402.84"
6,: Non-competitive bids,"2 ,159.46",4 72.29,4 81.55,"3,113.30"
7,Bid-to-Cover Ratio,3.33,1.49,2.75,3.02
8,Purpose / Application of Funds:,,,,
9,Rollover / Redemptions,"2 ,741.45","3 ,616.00","1 ,229.50","7,586.95"
10,New Borrowing/Net Repayment,5 61.80,"3 ,073.73",5 58.88,
11,Market Weighted Average Interest,,,,
12,,15.0853%,15.3101%,16.5014%,
13,Rate,,,,
14,Weighted Average Interest Rate of,,,,
15,,14.8206%,14.9499%,15.0544%,
16,accepted bids,,,,
17,Price per Kshs 100 at average interest,,,,
18,,96.4367,93.0627,86.9466,
19,rate,,,,

In [53]:
df = df.drop([8,16,13,19])

df = df.reset_index(drop=True)

In [54]:
df

,Unnamed: 0,91 DAYS,182 DAYS,364 DAYS,TOTAL
0,Due Date,01/01/2024,01/04/2024,30/09/2024,
1,Amount Offered (Kshs. M),"4,000.00","10,000.00","10,000.00","24,000.00"
2,Bids Received (Kshs. M),"1 1,007.63",8 09.28,"1,841.12","13,658.03"
3,Performance Rate (%),2 75.19,8 .09,18.41,56.91
4,Total Amount Accepted (Kshs. M),"3 ,303.25",5 42.27,670.62,"4,516.14"
5,Of which: Competitive bids,"1 ,143.79",6 9.98,1 89.07,"1,402.84"
6,: Non-competitive bids,"2 ,159.46",4 72.29,4 81.55,"3,113.30"
7,Bid-to-Cover Ratio,3.33,1.49,2.75,3.02
8,Rollover / Redemptions,"2 ,741.45","3 ,616.00","1 ,229.50","7,586.95"
9,New Borrowing/Net Repayment,5 61.80,"3 ,073.73",5 58.88,
10,Market Weighted Average Interest,,,,
11,,15.0853%,15.3101%,16.5014%,
12,Weighted Average Interest Rate of,,,,
13,,14.8206%,14.9499%,15.0544%,
14,Price per Kshs 100 at average interest,,,,
15,,96.4367,93.0627,86.9466,

In [55]:
df.loc[11, 'Unnamed: 0'] = df.loc[10, 'Unnamed: 0']
df.loc[13, 'Unnamed: 0'] = df.loc[12, 'Unnamed: 0']
df.loc[15, 'Unnamed: 0'] = df.loc[14, 'Unnamed: 0']

In [56]:
df

,Unnamed: 0,91 DAYS,182 DAYS,364 DAYS,TOTAL
0,Due Date,01/01/2024,01/04/2024,30/09/2024,
1,Amount Offered (Kshs. M),"4,000.00","10,000.00","10,000.00","24,000.00"
2,Bids Received (Kshs. M),"1 1,007.63",8 09.28,"1,841.12","13,658.03"
3,Performance Rate (%),2 75.19,8 .09,18.41,56.91
4,Total Amount Accepted (Kshs. M),"3 ,303.25",5 42.27,670.62,"4,516.14"
5,Of which: Competitive bids,"1 ,143.79",6 9.98,1 89.07,"1,402.84"
6,: Non-competitive bids,"2 ,159.46",4 72.29,4 81.55,"3,113.30"
7,Bid-to-Cover Ratio,3.33,1.49,2.75,3.02
8,Rollover / Redemptions,"2 ,741.45","3 ,616.00","1 ,229.50","7,586.95"
9,New Borrowing/Net Repayment,5 61.80,"3 ,073.73",5 58.88,
10,Market Weighted Average Interest,,,,
11,Market Weighted Average Interest,15.0853%,15.3101%,16.5014%,
12,Weighted Average Interest Rate of,,,,
13,Weighted Average Interest Rate of,14.8206%,14.9499%,15.0544%,
14,Price per Kshs 100 at average interest,,,,
15,Price per Kshs 100 at average interest,96.4367,93.0627,86.9466,

In [57]:
df = df.drop([10,12,14])

df = df.reset_index(drop=True)

In [58]:
df

,Unnamed: 0,91 DAYS,182 DAYS,364 DAYS,TOTAL
0,Due Date,01/01/2024,01/04/2024,30/09/2024,
1,Amount Offered (Kshs. M),"4,000.00","10,000.00","10,000.00","24,000.00"
2,Bids Received (Kshs. M),"1 1,007.63",8 09.28,"1,841.12","13,658.03"
3,Performance Rate (%),2 75.19,8 .09,18.41,56.91
4,Total Amount Accepted (Kshs. M),"3 ,303.25",5 42.27,670.62,"4,516.14"
5,Of which: Competitive bids,"1 ,143.79",6 9.98,1 89.07,"1,402.84"
6,: Non-competitive bids,"2 ,159.46",4 72.29,4 81.55,"3,113.30"
7,Bid-to-Cover Ratio,3.33,1.49,2.75,3.02
8,Rollover / Redemptions,"2 ,741.45","3 ,616.00","1 ,229.50","7,586.95"
9,New Borrowing/Net Repayment,5 61.80,"3 ,073.73",5 58.88,
10,Market Weighted Average Interest,15.0853%,15.3101%,16.5014%,
11,Weighted Average Interest Rate of,14.8206%,14.9499%,15.0544%,
12,Price per Kshs 100 at average interest,96.4367,93.0627,86.9466,

In [59]:
df.set_index("Unnamed: 0", inplace=True)

In [60]:
df1 =df.T
df1

Unnamed: 0,Due Date,Amount Offered (Kshs. M),Bids Received (Kshs. M),Performance Rate (%),Total Amount Accepted (Kshs. M),Of which: Competitive bids,: Non-competitive bids,Bid-to-Cover Ratio,Rollover / Redemptions,New Borrowing/Net Repayment,Market Weighted Average Interest,Weighted Average Interest Rate of,Price per Kshs 100 at average interest
91 DAYS,01/01/2024,"4,000.00","1 1,007.63",2 75.19,"3 ,303.25","1 ,143.79","2 ,159.46",3.33,"2 ,741.45",5 61.80,15.0853%,14.8206%,96.4367
182 DAYS,01/04/2024,"10,000.00",8 09.28,8 .09,5 42.27,6 9.98,4 72.29,1.49,"3 ,616.00","3 ,073.73",15.3101%,14.9499%,93.0627
364 DAYS,30/09/2024,"10,000.00","1,841.12",18.41,670.62,1 89.07,4 81.55,2.75,"1 ,229.50",5 58.88,16.5014%,15.0544%,86.9466
TOTAL,,"24,000.00","13,658.03",56.91,"4,516.14","1,402.84","3,113.30",3.02,"7,586.95",,,,

In [61]:
df1 = df1.drop(df1.index[-1])

In [62]:
df1 = df1.drop(['Of which: Competitive bids',': Non-competitive bids','Bid-to-Cover Ratio','Rollover / Redemptions','New Borrowing/Net Repayment'], axis =1)

In [63]:
# Créez une fonction pour nettoyer les valeurs numériques
def remove_commas(value):
    if isinstance(value, str):
        # Supprimez les virgules et les espaces, puis remplacez les virgules par des points
        return float(value.replace(',', '').replace(' ', '').replace(',', '.'))
    else:
        return value

# Appliquez la fonction aux colonnes numériques
columns_to_clean = ['Amount Offered (Kshs. M)','Bids Received (Kshs. M)','Total Amount Accepted (Kshs. M)']

for column in columns_to_clean:
    df1[column] = df1[column].apply(remove_commas)

In [64]:
df1['Due Date'] = pd.to_datetime(df1['Due Date'], format ='%d/%m/%Y').dt.strftime('%d/%m/%Y')

In [65]:
# Liste des colonnes à convertir en float
columns_to_convert = ['Market Weighted Average Interest', 'Weighted Average Interest Rate of', 'Price per Kshs 100 at average interest']

for column in columns_to_convert:
    df1[column] = df1[column].str.replace('%', '').astype(float)

In [66]:
df1

Unnamed: 0,Due Date,Amount Offered (Kshs. M),Bids Received (Kshs. M),Performance Rate (%),Total Amount Accepted (Kshs. M),Market Weighted Average Interest,Weighted Average Interest Rate of,Price per Kshs 100 at average interest
91 DAYS,01/01/2024,4000.0,11007.63,2 75.19,3303.25,15.0853,14.8206,96.4367
182 DAYS,01/04/2024,10000.0,809.28,8 .09,542.27,15.3101,14.9499,93.0627
364 DAYS,30/09/2024,10000.0,1841.12,18.41,670.62,16.5014,15.0544,86.9466

In [68]:
# Liste des colonnes à multiplier par 1,000,000
columns_to_multiply = ['Amount Offered (Kshs. M)', 'Bids Received (Kshs. M)', 'Total Amount Accepted (Kshs. M)']

# Définissez une fonction de multiplication
def multiply_by_million(value):
    return value * 1000000

# Appliquez la fonction de multiplication aux colonnes spécifiées
for column in columns_to_multiply:
    df1[column] = df1[column].apply(multiply_by_million)

In [69]:
df1

Unnamed: 0,Due Date,Amount Offered (Kshs. M),Bids Received (Kshs. M),Performance Rate (%),Total Amount Accepted (Kshs. M),Market Weighted Average Interest,Weighted Average Interest Rate of,Price per Kshs 100 at average interest
91 DAYS,01/01/2024,4.000000e+09,1.100763e+10,2 75.19,3.303250e+09,15.0853,14.8206,96.4367
182 DAYS,01/04/2024,1.000000e+10,8.092800e+08,8 .09,5.422700e+08,15.3101,14.9499,93.0627
364 DAYS,30/09/2024,1.000000e+10,1.841120e+09,18.41,6.706200e+08,16.5014,15.0544,86.9466

In [70]:
# Spécifiez le nom du fichier Excel de destination
nom_fichier_excel = 'Bill_Kenya_scrap.xlsx'

# Exportez le DataFrame vers Excel
df1.to_excel(nom_fichier_excel, index=True)